<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIBezierPath_And_CAShapeLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69773C501C0D733E0004E2F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69773C691C0D733E0004E2F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69773C741C0D733E0004E2F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
